html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #464545;
    border-top: 1px solid #464545;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.breadcrumb {
    margin-top: 15px;
    margin-bottom: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table  > thead > tr > th {
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.panel-heading-main {
    height: 50px;
}

.highcharts-axis, .highcharts-yaxis, .highcharts-legend, .modal-header {
    display: none;
}

.td-hover:hover {
    color: #fff;
    background-color: #009871;
    cursor: pointer;
}

.padding-4 {
    padding: 4px;
}

.overflow-auto {
    overflow: auto;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.display-inline {
    display: inline;
}

.panel-chart {
    margin-bottom: -35px;
}

.highcharts-background {
    fill: transparent;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

.table thead .filters td {
    padding: 12px;
}

.grid-view .table tbody tr td:last-child, .grid-view .table thead tr th:last-child, .grid-view .table thead tr td:last-child {
    text-align: center;
    vertical-align: middle;
}

.empty {
    text-align: left;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #009871;
}

.datepicker table tr td span:hover, .datepicker table tr td span.focused {
    color: #fff;
    background-color: #009871;
    border-color: #009871;
}

.datepicker table tr td.today {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.datepicker table tr td.day:hover, .datepicker table tr td.focused {
    background: #009871;
    cursor: pointer;
}

.datepicker .datepicker-switch:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker tfoot tr th:hover {
    background: #009871;
}


.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: #00a379;
    border-color: transparent;
}

.index h3, .index .btn-warning {
    margin-bottom: 15px;
}

.table thead tr th a {
    color: #fff;
}

.m-r-5 {
    margin-right: 5px;
}

.input-daterange input {
    font-size: 12px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #00a379;
}